:root {
  --maincolor: #4d5ae5;
  --accentcolor: #2e2f42;
  --textcolor: #434455;
  --secondbackgoundcolor: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo {
  padding: 24px 0;
}

.header-logo,
.header-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolor);
  text-decoration: none;
  list-style-type: none;
}
.header-logo-accent,
span {
  color: var(--accentcolor);
}
.header-logo {
display: inline-block;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-open-btn {
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
}
.menu-close-btn {
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
  margin-left: auto;
}
.mob-close-icon {
  display: flex;
  margin-left: 7px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--accentcolor);
  text-decoration: none;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.current {
  color: #404bbf;
}
.mob-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.mob-phone {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  text-decoration: none;
}
.mob-email {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #434455;
  text-decoration: none;
}
.mob-menu-social {
  display: flex;
  gap: 56px;
  justify-content: center;
}
.mob-social-items {
  width: 40px;
  height: 40px;
}
.mob-block-icons {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* section 1 */

.section {
  max-width: 428px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accentcolor);
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/images/images/image/bg-mobile.jpg);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto 72px;
}
.section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 56px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-button:hover,
.section-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* section 2 */

.priorities-section {
  padding: 96px 0;
}

.priorities-icon {
  display: none;
}

.priorities-sectionul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.priorities-list {
  width: 100%;
  position: relative;
}
.priorities-section-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.priorities-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--textcolor);
  font-weight: 500;
}

/* section 3 */
.do-section {
  display: none;
}

.do-section .list {
  list-style: none;
}
.do-sectionul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.do-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accentcolor);
  text-align: center;
  margin-bottom: 72px;
}
.do-section {
  padding-bottom: 120px;
}
.doing-photo {
  width: calc((100% - 48px) / 3);
}
/* section 4 */

.team-section {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.team-section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accentcolor);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.team-list {
  gap: 72px;
  
}
.team-section-card {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-section-card {
  width: 264px;

}
.worker-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accentcolor);
}
.teamtext {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 8px;
}
.team-block {
  padding: 32px 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-items {
  width: 40px;
  height: 40px;
}

.block-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-icons:hover,
.block-icons:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/* section 5 */

.customer-section {
  padding: 96px 0;
  background-color: #ffffff;
}

.customer-title {
  color: var(--accentcolor);
  font-weight: 700;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}
.customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customer-icon {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-mark {
  fill: currentColor;
}
.customer-icon:hover,
.customer-icon:focus {
  color: #404bbf;
  border-color: #404bbf;
}
/* footer */

.footer {
  background-color: var(--accentcolor);
  padding: 96px 0;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
}
.logo-foot {
  margin-bottom: 72px;
}
.footer-container {
  display: flex;
}

.footer-logo,
.footer-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolor);
  text-decoration: none;
  list-style-type: none;
}
.footer-logo {
  display: flex;
  margin-bottom: 18px;
}
.footer-logo-accent,
span {
  color: #f4f4fd;
}
.footer-headline {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-block-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-block-icons:hover,
.footer-block-icons:focus {
  background-color: #31d0aa;
}

.social {
  display: flex;
  gap: 16px;
}

.icon {
  fill: #f4f4fd;
}
.footer-media {
  margin-bottom: 72px;
}

.subscribe-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.sub-input {
  width: 90vw;
  max-width: 398px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.sub-input::placeholder {
  color: #ffffff;
}
.input-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.btn-icon {
  margin-left: 16px;
}

/* portfolio */

/* section */

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.section-portfolio {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 120px;
}

.header-address-link link {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--textcolor);
}

.portfolio link {
  text-decoration: none;
  list-style-type: none;
}

.button-list .list {
  list-style: none;
}
.button-list,
.list,
.button-look {
  list-style-type: none;
}
.button-list,
.button-look {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #ffffff;
  cursor: pointer;
}
.button-list {
  gap: 24px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.button-look {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-look:hover,
.button-look:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-hover {
  position: relative;
  overflow: hidden;
}

.portfolio:hover .app-hover-text {
  transform: translateY(0%);
}

.portfolio:focus .app-hover-text {
  transform: translateY(0%);
}

.portfolio:hover,
.portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.app-hover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img .link {
  text-decoration: none;
}
.img {
  width: calc((100% - 48px) / 3);
}

.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container-set {
  width: 1128px;
  margin-bottom: 72px;
  margin-top: 72px;
}
.portfolio-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accentcolor);
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px 24px;
  max-width: 100%;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-modal {
  margin-bottom: 8px;
}

.modal-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.text-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:focus {
  border-color: #4d5ae5;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:focus {
  fill: #4d5ae5;
}

.text-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal:focus {
  border-color: #4d5ae5;
}

.text-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.box-form {
  margin-bottom: 16px;
}
.modal-box {
  margin-bottom: 24px;
}

.term-box {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.blue-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}
.blue-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}
.input-box:checked + .term-box .blue-text {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}